:root {
  --background-color: #F2F4F7;
  --foreground-color: #FFFFFF;
  --key-color: #0E253E;
}

[data-theme='dark'] {
  --background-color: #000000;
  --foreground-color: #222426;
  --key-color: #F4F7FA;
}

p, b {
  color: var(--key-color);
}

body {
  margin: 0;
  background-color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
}
