<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/store/components/header/header.css" />
</head>
<body>
  <header>
    <div class="green-bar">
      <p>Enjoy Free Shipping On All Orders</p>
    </div>
  
    <div class="navbar">
      <div class="navbar-icons-mobile">
        <span class="material-symbols-outlined"> menu </span>
        <span class="material-symbols-outlined"> search </span>
      </div>
  
      <div class="logo">
        <div class="logo-title">
          <p>modimal</p>
          <img src="/store/assets/icons/dot-logo.svg" />
        </div>
        <p class="logo-subtitle">women clothing</p>
      </div>
  
      <div class="navbar-links">
        <a href="#">Collection</a>
        <a href="#">New In</a>
        <a href="#">Modiweek</a>
        <a href="#">Plus Size</a>
        <a href="#">Sustainability</a>
      </div>
  
      <div class="navbar-icons">
        <div class="navbar-icons-desktop">
          <span class="material-symbols-outlined">&#xE8B6;</span>
          <a href="/store/pages/register/register.html">
            <span class="material-symbols-outlined"> person </span>
          </a>
        </div>
        <div class="navbar-icons-default">
          <span class="material-symbols-outlined"> favorite </span>
          <span class="material-symbols-outlined"> shopping_bag </span>
        </div>
      </div>
    </div>
  </header>
  
</body>
</html>