.header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 20px;
  color: white;
}

.menu {
  display: flex;
  gap: 15px;
}

@media (max-width: 600px) {
  .menu-mobile {
    display: flex;
  }
  .menu {
    display: none;
  }
}
