<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/store/components/footer/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-container padding-section">
        <div class="footer-column">
          <div class="footer-column-container">
            <h5>Join Our Club, Get 15% Off For Your Birthday</h5>
            <input
              class="footer-email-input"
              type="email"
              placeholder="Enter Your Email Adress"
            />
            <div class="footer-subscription-container">
              <input
                type="checkbox"
                id="footer-subscription-checkbox"
                name="footer-subscription-checkbox"
              />
              <label for="footer-subscription-checkbox"
                >By Submitting your email, you agree to receive advertising
                emails from Modimal.</label
              >
            </div>
          </div>

          <div class="footer-column-container desktop-only">
            <div class="footer-social-wrapper">
              <img src="/store/assets/icons/social-instagram.svg" />
              <img src="/store/assets/icons/social-facebook.svg" />
              <img src="/store/assets/icons/social-pinterest.svg" />
              <img src="/store/assets/icons/social-tiktok.svg" />
            </div>
            <div class="footer-social-wrapper-copyright">
              <span class="material-symbols-outlined">copyright</span>
              <p>2023 Modimal. All Rights Reserved</p>
            </div>
          </div>
        </div>

        <div class="footer-row">
          <div class="footer-menu">
            <h5>About Modimal</h5>
            <a href="#">Collection</a>
            <a href="#">Sustainability</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Support System</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Copyright Notice</a>
          </div>

          <div class="footer-menu">
            <h5>Help & Support</h5>
            <a href="#">Orders & Shipping</a>
            <a href="#">Returns & Refunds</a>
            <a href="#">FAQs</a>
            <a href="#">Contact Us</a>
          </div>

          <div class="footer-menu">
            <h5>Join Up</h5>
            <a href="#">Modimal Club</a>
            <a href="#">Careers</a>
            <a href="#">Visit Us</a>
          </div>
        </div>

        <div class="footer-column-container mobile-only">
          <div class="footer-social-wrapper">
            <img src="/store/assets/icons/social-instagram.svg" />
            <img src="/store/assets/icons/social-facebook.svg" />
            <img src="/store/assets/icons/social-pinterest.svg" />
            <img src="/store/assets/icons/social-tiktok.svg" />
          </div>
          <div class="footer-social-wrapper-copyright">
            <span class="material-symbols-outlined">copyright</span>
            <p>2023 Modimal. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
